@import '../../../variables.scss';

table {
  width: 100%;
  thead {
    font-weight: bold;
  }
  tbody {
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: $main-purple;
    }
    span {
      color: $main-purple;
      text-decoration: underline;
    }
  }
}
