@import '../variables.scss';

header {
  background-color: $main-purple;
  color: $white;
  height: 15%;
  display: flex;
  h1 {
    margin: auto;
  }
}
.body {
  height: 100%;

  .content {
    height: 85%;
    display: flex;
    .left,
    .right {
      padding: 30px;
    }

    .left {
      flex: 0.5;
    }
    .right {
      flex: 0.5;
      background-color: $secondary-purple;
    }
  }
}
