<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
  <header>
    <h1>My Github Favorites</h1>
  </header>
  <div class="content">
    <div class="left">
      <app-search-component [repositories]="repositories" (addToFavEvent)="addToFav($event)" (searchResultsEvent)="searchResults($event)" (clearedEvent)="clearRepositories()"></app-search-component>
    </div>
    <div class="right">
      <app-favorites [favorites]="favorites" (removeEvent)="removeFromFav($event)"></app-favorites>
    </div>
  </div>
</div>

